@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

:root{
    --main-color: #003060;
    --light-color: #fff;
    --dark-color: #010101;
    --accent-color: #797979;
    --card-color: #2E8BC0;
    --eclipse-color: rgb(226, 211, 211);
    --ins-color: #cc2e8a;
    --twi-color: #1c9cea;
    --mail-bg: #DD5044;
}
html::-webkit-scrollbar{
    background: var(--main-color);
    scroll-behavior: smooth;
}
::-webkit-scrollbar-thumb{
    background: var(--light-color);
}

html, body {
    margin: 0rem !important;
    padding: 0rem !important;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background-color: var(--main-color);
    font-family: 'Secular One', sans-serif;
    
}

/* ========================= home section =================================== */

/* home */
.home{
    height: 100vh;
}

.hero-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5rem;
}

.hero-text-container{
    position: relative;
    width: max-content;
}

.hero-text {
    mix-blend-mode: exclusion;
    color: var(--accent-color);
}

#hero-eclipse {
    position: absolute;
    bottom: 1rem;
    left: -4rem;
}

#hero-eclipse:hover{
    cursor: pointer;
    transition: 1s ease;
    animation: rotate180 1s forwards;
}

/* intro */

.intro-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 5rem 0;
}

.intro{
    color: var(--accent-color);
    font-size: 1.3rem;
}

.intro-text-container{
    display: block;
    width: 45rem;
    text-align: center;
    margin: auto auto auto 0rem;
    position: relative;
}

#intro-eclipse{
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    z-index: -1;
}

/* navbar */

.navbar{
    max-width: max-content;
    margin: 2rem 0 0 1rem;
    margin: auto;
}

.links-container {
    list-style-type: none;
    padding: 0;
    margin: 2rem;    
}

.links-container li {
    display: flex;
    align-items: center;
    margin: 1rem;
    color: var(--light-color);
}
.links-container li a{
    color: var(--light-color);
    text-decoration: none;
}

.links-container li span {
    margin: 0.5rem;
}

/* button */

.btn{
    font-family: 'Secular One', sans-serif;
    border: none;
    text-decoration: none;
    background: var(--dark-color);
    color: var(--light-color);
    padding: .5rem 1rem;
    border-radius: 5px;
    margin: 0 5rem;
    box-shadow: 3px -3px -1px black;
    transition: .5s ease-out all;
    position: relative;
}


.btn::before{
    content: '';
    background: #FD6A02;
    position: absolute;
    height: 3px;
    left: 0;
    top: 0;
    width: 0%;
}

.btn::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 0%;
    right: 0;
    top: inherit;
    left: inherit;
    bottom: 0;
}

.btn:hover:before{
    width: 100%;
    transition: .5s ease-out all;
}

.btn:hover:after{
    width: 100%;
    background: #FD6A02;
    transition: .5s ease-out all;
}

.btn:hover{
    cursor: pointer;
    background: white;
    color: black;
}


/* arrow */

.arrow{
    width: 100%;
    display: grid;
    place-items: center;
    position: absolute;
    bottom: 01rem;
    transition: 1s ease-in-out;
    animation: giggle 1s infinite;
}

/* =========================== project section ======================================= */

.projects{
    width: 100vw;
    margin: 0 auto;
    overflow-x: hidden;
}

.container-pro{
    display: flex;
    width: 400%;
    overflow: hidden;
    position: relative;
}

.rad-container{
    display: none;
}

.lab-container{
    position: absolute;
    display: flex;
    bottom: 0;
    left: 50vw;
    transform: translateX(-50%);
}

.rad-lab{
    margin: .2rem;
    border: 3px solid var(--light-color);
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    transition: .5s ease all ;
    display: none;
}

.rad-lab:hover{
    background: var(--light-color);
    border-color: var(--main-color);
}

.projects-container{
    display: grid;
    background: var(--card-color);
    height: 13rem;
    border-radius: .5rem;
    width: 25%;
    margin: 3rem;
    padding: 1rem;
    position: relative;
    grid-template-columns: 1fr 1fr;
    animation: scroll-auto 10s infinite;
}

.title{
    font-size: 2rem;
    color: white;
    margin: 0 1rem;
    margin-left: 2rem;
}

/* project title & eclipse */

.project-title{
    margin-left: 1.5rem;
    grid-column: span 2;
}

.project-text{
    position: relative;
}

.project-eclipse1{
    position: absolute;
    top: 1rem;
    mix-blend-mode: color-dodge;
}

.project-eclipse1:hover{
    animation: rotate180 1s forwards;
}

.project-eclipse2{
    position: absolute;
    right: 0;
    bottom: 0;
    mix-blend-mode: color-dodge;
}

.project-eclipse2:hover{
    animation: rotate90 1s forwards;
}

.project-description{
    margin-left: 3.5rem;
}

/* image */
.project-image{
    position: absolute;
    max-height: 85%;
    max-width: 15rem;
    right: 0rem;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    margin: 1rem;
}

/* ========================= resume section =============================== */
.resume{
    width: 90%;
    margin: auto;
    margin-top: 3rem;
}

.resume-title{
    color: var(--light-color);
    font-size: 2rem;
    margin-left: 1rem;
}
/* educatio */
.education{
    margin: 2rem;
    color: white;
}

.edu-title{
    font-size: 1.5rem;
    color: var(--accent-color);
}

.edu-description{
    margin-left: 3rem;
}

/* skills */

.sk-title{
    color: var(--accent-color);
    font-size: 1.5rem;
    margin-left: 2rem;
}

.skills-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 3rem;
    list-style: none;
}

.sk-tit{
    color: var(--light-color);
    font-size: 1.5rem;
}
.sk-ul{
    list-style: none;
}

.sk-ul li{
    color: var(--accent-color);
    margin-left: 1rem;
}

/* experience */
.ecperience{
    margin: 1rem;
}

.exp{
    font-size: 1.5rem;
    margin-left: 2rem;
    color: var(--accent-color);
}

.exp-description{
    color: var(--light-color);
    margin-left: 5rem;
}

.resB{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

/* ================================ About section ========================== */

.about{
    width: 90%;
    margin: auto;
}

.about-title{
    color: var(--light-color);
    font-size: 2rem;
}
.about-container{
    background-color: var(--card-color);
    padding: 2.5rem;
    font-size: 1.3rem;
    border-radius: 5px;
    position: relative;
}

.about-eclipse{
    position: absolute;
    top: .5rem;
    left: 1rem;
    mix-blend-mode: color-dodge;
    fill: var(--eclipse-color);
}

.about-eclipse:hover{
    animation: 1s rotate180 forwards;
}

.about-semi{
    position: absolute;
    bottom: 3rem;
    right: 2rem;
    mix-blend-mode: color-dodge;
    fill: rgb(226, 211, 211);
}

.about-semi:hover{
    transition: 1s ease all;
    animation: 1s rotate180 forwards;
}

/* ======================= contact ===================================== */

.contact{
    width: 90%;
    margin: auto;
}

.contact-title{
    color: var(--light-color);
    font-size: 2rem;
}

.name{
    background: transparent;
    color: var(--light-color);
    border: none;
    outline: none;
    margin: 1rem;
    border-bottom: 2px solid var(--light-color);
    width: 95%;
}

.email{
    background: transparent;
    color: var(--light-color);
    margin: 1rem;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--light-color);
    width: 95%;
}

.message-text{
    color: var(--light-color);
    font-size: 1.5rem;
}

.message{
    background: var(--light-color);
    color: var(--dark-color);
    margin: 1rem;
    padding: 1rem;
    border: 2px solid var(--light-color);
    border-radius: 5px;
    width: 95%;
    height: 15rem;
    font-family: 'Secular One', sans-serif;

}

.contact-container{
    position: relative;
    height: 35rem;
}

.send{
    display: block;
    margin: 0 auto;
    position: relative;
    padding: .5rem 2rem;
}


/* ============================ social links ==================================== */

.social-links{
    width: 95%;
    margin: auto;
    margin-bottom: 5rem;
    
}

.s-links-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-title{
    color: var(--light-color);
    font-size: 2rem;
    margin-left: 2rem;
}

.round-btn{
    font-family: 'Secular One', sans-serif;
    border: none;
    text-decoration: none;
    background: var(--dark-color);
    color: var(--light-color);
    padding: 1rem;
    border-radius: 50%;
    margin: 0 1rem;
    transition: .5s ease-out all;
    position: relative;
}

.round-btn i{
    fill: var(--light-color);
    border-radius: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s ease-in-out all;
}


.insta{
    background: var(--ins-color);
}

.twit{
    background: var(--twi-color);
}

.mail{
    background: var(--light-color);
    transition: .5s ease-in-out all;
}

.i-mail{
    fill:#DD5044;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.i-mail:hover{
    fill:var(--light-color);
}


.git:hover{
    background: var(--light-color);
    color: var(--dark-color);
}

.insta:hover{
    background: var(--light-color);
    color: var(--ins-color);
}

.twit:hover{
    background: var(--light-color);
    color: var(--twi-color);
}

.mail:hover{
    background: var(--mail-bg);
    fill: var(--light-color);
}

.btt{
    display: grid;
    place-items: center;
    margin: 2rem 0;
}
/* ============================ keyframe ==================================== */

@keyframes scroll-auto {
    
    0%,10%,20%{
        left: -0;
    }
    30%,40%, 50%{
        left: -25%;
    }
    60%,70%, 80%{
        left: -50%;
    }
    90%,100%{
        left: -75%;
    }
}

@keyframes giggle {
    30%, 40%{
        transform: translateY(-20%);
    }
    
}

@keyframes up10 {
    
    from{
        transform: translateY(-100%);
    }
    
    to{
        transform: translateY(-20%);
    }
}

@keyframes rotate90 {
    to{
        transform: rotate(90deg) rotateZ(0);
    }
}

@keyframes rotate180 {
    
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-180deg);
    }
}


/* ======================= meadia query ===================================== */
